@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    margin: 0;
    padding: 0;
}
#head-box{
    background-image: linear-gradient(to right,rgba(0,255,170,0.562),rgb(0,255,104));
        overflow-x: hidden;
        display: flex;
        align-items: center;
}
body{
    overflow: hidden;
}
#head-box p{ 
    color: #343434;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: bold;
    font-size: x-large;
}
